*{box-sizing: border-box;}

/* html, body { height: 100%; } */

body { 
  background: #f6f4f4;
  margin: 0;
  padding: 0;
}

header{
  background: #212529;
  min-height: 50px;
  position: fixed;
  top: 0;
  z-index: 999;
}

header .nav li{
  padding: 0 8px;
}

.addUser{
  transition: 0.8s;
}
.addUser:hover{
  transform: scale(1.5);
}